<footer class="footer">
   <div class="container">
       <div class="row">
           <div class="footer-col">
               <ul>
                   <li><a href="#">Our Global Presence</a></li>
                   <li><a href="#"><img [src]="IndianFlag" alt="" style="height:50px"></a></li>
                        <!-- <i class="flag flag-india"></i> -->
           
                   <li><a href="#"><img [src]="UsFlag" alt="" style="height:30px"></a></li>
                       <!-- <i class="flag flag-us"></i> -->
                   <!-- <li><a href="#">Contact Us</a></li>
                   <a href="#"><i class="fab fa-envelope"></i></a> -->
               </ul>
           </div>
           <div class="footer-col">
               <ul>
                   <li><a href="#">Zaga Open Source Technology</a></li>
                   <li><a href="#">Technology</a></li>
                   <li><a href="#">About</a></li>
                   <li><a href="#">Services</a></li>
                   <li><a href="#">Privacy Policy</a></li>
               </ul>
            </div>
            <div class="footer-col">
               <div class="social-links">           
                   <a href="#"><i class="fab fa-facebook-f"></i></a>
                   <a href="#"><i class="fab fa-linkedin-in"></i></a>
                   <a href="#"><i class="fab fa-twitter"></i></a>
                   <a href="#"><i class="fa fa-envelope"></i></a>
               </div>
           </div>
       </div>
   </div>
</footer>