<footer class="footer">
   <div class="container">
       <div class="row">
           <div class="footer-col">
               <ul>
                   <li><a href="#">Our Global Presence</a></li>
                   <li><a *ngFor="let flag of flags" href="#"><img [src]="flag.flag" alt="NoImageFound" [style]="flag.style"></a></li>           
               </ul>
           </div>
           <div class="footer-col">
               <ul *ngFor="let menu of menuItems" >
                   <li><a [href]="menu.link">{{menu.name}}</a></li>
               </ul>
            </div>
            <div class="footer-col3">
               <div *ngFor="let social of socialLinks" class="social-links">           
                   <a [href]="social.link" target="_blank"  ><i  [ngClass]="social.icon"></i></a>
               </div>
           </div>
       </div>
   </div>
</footer>