<!-- Profile page -->
<div class="profile" id="profile" >
    <h2 class="heading" >Our Experience</h2>
    <section class="profileContainer" *ngFor="let profile of Profiles" >
        <div class="leftProfile" *ngIf="profile.status === 'left'" >
            <div>
                <img class="imgStyle" [src]="profile.imageUrl" alt="">
            </div>
            <div class="textContent">
                <h2>{{profile.projectName}}</h2>
                <p>{{profile.description}}</p>
            </div>
        </div>
        <div class="rightProfile" *ngIf="profile.status === 'right'" >
            <div class="textContent">
                <h2>{{profile.projectName}}</h2>
                <p>{{profile.description}}</p>
            </div>
            <div>
                <img class="imgStyle" [src]="profile.imageUrl" alt="">
            </div>
        </div>
    </section>
</div>