.contactContainer {
   padding: 50px;
   background-color: #E0FFFF;
   height: auto;
}

.location {
   display: flex;
   flex-direction: row;
   margin-top: 10px;
}

.imgStyle {
   height: 40px;
   width: 60px;
   object-fit: cover;
   margin-right: 20px;
}

.borderStyle {
   margin-top: 20px;
   border-bottom-width: 0.4px;
   border-bottom-style: solid;
   border-bottom-color: #FFF;
   width: 15%;
}

.boxContainer {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}

.whiteBox {
   background-color: #fff;
   border-radius: 8px;
   padding: 20px;
   // margin-top: 10px;
   width: 70%;
}

.nameInput {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}