<section class="contactContainer" >
   <p>GET IN TOUCH</p>
   <div class="boxContainer" >
      <div style="width: 30%;" >
      <h2 style="padding-bottom: 70px;">Let's Build something<br> Brilliant Together!</h2>
   <div class="details" >
      <h3 style="margin-top: -15px;" >Office Locations</h3>
      <p>Headquarter</p>
      <div class="location" *ngFor="let addr of address"  >
         <img class="imgStyle" src="../../../assets/address1.png" alt="noImageFound"><p  >{{addr.address}}</p>
      </div>
      <div class="borderStyle" ></div>
      <!-- <h3 style="margin-top: 30px;">Phone Numbers</h3>
      <div class="location" *ngFor="let phone of phoneNumbers"  >
         <i style="margin-right: 10px;margin-top: 6px;" class="fa-solid fa-phone"></i><p>{{phone.phone}}</p>
      </div> -->
      <!-- <div class="borderStyle" ></div> -->
      <h3 style="margin-top: 30px;">Contact</h3>
      <!-- <p>{{shortMessage}}</p> -->
      <div class="location" *ngFor="let email of emails" >
         <i style="margin-right: 10px;margin-top: 6px;"  class="fa-solid fa-envelope"></i><p>{{email.email}}</p>
      </div>
   </div>
   </div>
   <div class="whiteBox" >
      <form [formGroup]="contactForm" (submit)="onSubmit()" >
         <p>
            <mat-form-field style="width: 30%;margin: 5% 0 3% 10%" appearance="fill">
              <mat-label>First Name</mat-label>
              <input matInput placeholder="Enter your First Name" required formControlName="firstname" >
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-error>Enter your FirstName</mat-error>
            </mat-form-field>
            <mat-form-field style="width: 30%;margin-left: 10%;" appearance="fill">
               <mat-label>Last Name</mat-label>
               <input matInput placeholder="Enter your Last Name" required formControlName="lastname" >
               <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
               <mat-error>Enter your Last Name</mat-error>
             </mat-form-field>
          </p>
            <p>
               <mat-form-field style="width: 30%;margin-left: 10%;" appearance="fill">
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="Enter your Email" required formControlName="email" >
                  <mat-icon matSuffix>mail_outline</mat-icon>
                  <mat-error>Enter your Email</mat-error>
                </mat-form-field>
            </p>
            <p>
               <mat-form-field style="width: 30%;margin: 3% 0 3% 10%" appearance="fill">
                  <mat-label>Want to Say something!</mat-label>
                  <textarea matInput required formControlName="message" ></textarea>
                  <mat-icon matSuffix>info_outline</mat-icon>
                  <mat-error>Enter your Message</mat-error>
                </mat-form-field>
            </p>
            <p >
               <button mat-raised-button color="primary" style="width:30%;margin-left: 30%;font-size: 1rem;" [disabled]="!contactForm.valid" >Send</button>
            </p>
         </form>
   </div>
   </div>
</section>