<section class="contactContainer"  *ngIf="!spinnerStatus" >
   <p>GET IN TOUCH</p>
   <div class="boxContainer" >
      <div class="boxContainerText" >
      <h2 class="heading1">Let's Build something<br> Brilliant Together!</h2>
   <div class="details" >
      <h3 class="heading2">Contact</h3>
      <div class="location" *ngFor="let email of emails" >
         <i id="mailIcon"  class="fa-solid fa-envelope"></i><p>{{email.email}}</p>
      </div>
      <div class="borderStyle" ></div>
      <h3 class="heading3">Office Locations</h3>
      <p>Headquarters</p>
      <div class="location" *ngFor="let addr of address"  >
         <i id="mailIcon"  class="fa-solid fa-map-marker-alt"></i><p>{{addr.address}}</p>
      </div>
   </div>
   </div>
   <div class="whiteBox" >
      <form [formGroup]="contactForm" (submit)="onSubmit()" >
         <p>
            <mat-form-field class="firstname" appearance="fill">
              <mat-label>First Name</mat-label>
              <input matInput placeholder="Enter your First Name" required formControlName="firstname" >
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-error>Enter your FirstName</mat-error>
            </mat-form-field>
            <mat-form-field class="lastname" appearance="fill">
               <mat-label>Last Name</mat-label>
               <input matInput placeholder="Enter your Last Name" required formControlName="lastname" >
               <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
               <mat-error>Enter your Last Name</mat-error>
             </mat-form-field>
          </p>
            <p>
               <mat-form-field class="email" appearance="fill">
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="Enter your Email" required formControlName="email" >
                  <mat-icon matSuffix>mail_outline</mat-icon>
                  <mat-error>Enter your Email</mat-error>
                </mat-form-field>
            </p>
            <p>
               <mat-form-field class="messagebox" appearance="fill">
                  <mat-label>Want to Say something!</mat-label>
                  <textarea matInput required formControlName="message" ></textarea>
                  <mat-icon matSuffix>info_outline</mat-icon>
                  <mat-error>Enter your Message</mat-error>
                </mat-form-field>
            </p>
            <p >
               <button mat-raised-button color="primary" class="savebtn" [disabled]="!contactForm.valid" >Send</button>
            </p>
         </form>
   </div>
   </div>
</section>
<div class="spinner" *ngIf="spinnerStatus" >
   <mat-spinner></mat-spinner>
</div>