<div class="services" >
   <h1 class="heading" >Our Services</h1>
   <h5 style="color: #000;" >We offer Business scale solutions.</h5>
   <div class="services__wrapper">
        <a class="services__card" *ngFor="let services of servicesList" (click)="onHandleService(services)" >
            <h2  >{{services.name}}</h2>
            <div class="imageContainer" ><img class="photoStyle" [src]="services.imageUrl" alt=""></div>
            <p>{{services.description}}</p>
            <!-- <div class="services__btn"><button>Get Started</button></div> -->
        </a>
   </div>
   <!-- <app-animation *ngIf="!animation" ></app-animation> -->
</div>