<div class="modal-content">
   <div class="modal-header">
     <h5 class="modal-title" id="exampleModalLabel">Contact</h5>
     <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
   </div>
   <div class="modal-body">
      <form [formGroup]="contactForm" (submit)="onSubmit()" >
         <p class="names">
            <mat-form-field class="firstname" appearance="fill">
              <mat-label>First Name</mat-label>
              <input matInput placeholder="Enter your First Name" required formControlName="firstname" >
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-error>Enter your FirstName</mat-error>
            </mat-form-field>
            <mat-form-field class="lastname" appearance="fill">
               <mat-label>Last Name</mat-label>
               <input matInput placeholder="Enter your Last Name" required formControlName="lastname" >
               <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
               <mat-error>Enter your Last Name</mat-error>
             </mat-form-field>
          </p>
            <p>
               <mat-form-field class="email" appearance="fill">
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="Enter your Email" required formControlName="email" >
                  <mat-icon matSuffix>mail_outline</mat-icon>
                  <mat-error>Enter your Email</mat-error>
                </mat-form-field>
            </p>
            <p>
               <mat-form-field class="messagebox" appearance="fill">
                  <mat-label>Want to Say something!</mat-label>
                  <textarea matInput required formControlName="message" ></textarea>
                  <mat-icon matSuffix>info_outline</mat-icon>
                  <mat-error>Enter your Message</mat-error>
                </mat-form-field>
            </p>
            <p >
               <button mat-raised-button color="primary" class="savebtn" [disabled]="!contactForm.valid" >Send</button>
            </p>
         </form>
   </div>
   
 </div>