<div style="padding: 20px;" >
   <section class="aboutContainer" >
      <div>
         <img class="imgStyle1" src="../../../assets/PinClipart.com_clip-art-colleges_5528532.png" alt="ImageNotFound" />
      </div>
      <div class="textContent" >
         <h2>Who we are?</h2>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur porro odit, officia voluptas cum itaque sed! Velit officiis voluptatibus minus, porro itaque sint iusto repellendus rem sit ratione illo quia!
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, ut dolorem rerum assumenda accusamus facilis voluptates officia nemo similique excepturi reprehenderit sit, amet iusto quaerat aperiam? Qui sed eos repudiandae!
         Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum cupiditate vel aspernatur dolores rerum error suscipit, ex beatae reprehenderit labore nostrum quod adipisci optio. Quis quia nemo nihil eligendi minus.
         </p>
      </div>
   </section>
   
   <!-- slide 2 -->
   <section class="aboutContainer" >
      <div class="textContent" >
         <h2>Our Difference</h2>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur porro odit, officia voluptas cum itaque sed! Velit officiis voluptatibus minus, porro itaque sint iusto repellendus rem sit ratione illo quia!
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, ut dolorem rerum assumenda accusamus facilis voluptates officia nemo similique excepturi reprehenderit sit, amet iusto quaerat aperiam? Qui sed eos repudiandae!
         Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum cupiditate vel aspernatur dolores rerum error suscipit, ex beatae reprehenderit labore nostrum quod adipisci optio. Quis quia nemo nihil eligendi minus.
         </p>
      </div>
      <div>
         <img class="imgStyle2" src="../../../assets/PinClipart.com_jump-for-joy-clipart_5715300.png" alt="ImageNotFound" />
      </div>
   </section>
   
   <!-- slide 3 -->
   <section class="aboutContainer" >
      <div>
         <img class="imgStyle3" src="../../../assets/imgbin_goal-computer-icons-png.png" alt="ImageNotFound" />
      </div>
      <div class="textContent" >
         <h2>Our Goals!</h2>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur porro odit, officia voluptas cum itaque sed! Velit officiis voluptatibus minus, porro itaque sint iusto repellendus rem sit ratione illo quia!
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, ut dolorem rerum assumenda accusamus facilis voluptates officia nemo similique excepturi reprehenderit sit, amet iusto quaerat aperiam? Qui sed eos repudiandae!
         Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum cupiditate vel aspernatur dolores rerum error suscipit, ex beatae reprehenderit labore nostrum quod adipisci optio. Quis quia nemo nihil eligendi minus.
         </p>
      </div>
   </section>

   <!-- slide 3 -->
   <section class="slide4"  >
      <h2>OUR DEVELOPMENT EXPERTS</h2>
      <div>
         <img class="photoStyle" src="../../../assets/pexels-pixabay-60504.jpg" alt="ImageNotFound" />
         <div class="nameBox" ><h2 class="name" >Hariharan</h2></div>
      </div>
   </section>
</div>