<div style="padding: 20px;" >
   <div >
   <section class="aboutContainer"  >
      <div>
         <img class="imgStyle1" src="{{about[0].img1}}" alt="ImageNotFound" />
      </div>
      <div class="textContent" >
         <h2>{{about[0].heading1}}</h2>
         <p>{{about[0].content1}}
         </p>
      </div>
   </section>
   
   <!-- slide 2 -->
   <section class="aboutContainer" >
      <div class="textContent" >
         <h2>{{about[1].heading2}}</h2>
         <p>{{about[1].content2}}
         </p>
      </div>
      <div>
         <img class="imgStyle2" src="{{about[1].img2}}" alt="ImageNotFound" />
      </div>
   </section>
   
   <!-- slide 3 -->
   <section class="aboutContainer" >
      <div>
         <img class="imgStyle3" src="{{about[2].img3}}" alt="ImageNotFound" />
      </div>
      <div class="textContent" >
         <h2>{{about[2].heading3}}</h2>
         <p>{{about[2].content3}}
         </p>
      </div>
   </section>
</div>
   <!-- slide 3 -->
   <section class="slide4"  >
      <h2>OUR MANAGEMENT TEAM</h2>
      <div class="gridContainer" >
         <a class="overallContainer" *ngFor="let users of managementTeam" [href]="users.linkedInUrl" target="_blank" >
            <div class="photoContainer" >
               <img class="photoStyle" [src]="users.imageUrl"  alt="ImageNotFound" />
               <div class="nameBox" >
                  <h2 class="name" >{{users.name}}</h2>
               </div>
            </div>
            <p class="role" >{{users.title}}</p>
            <!-- <span class="shortMessage" >View LinkedIn Page</span> -->
         </a>
      </div>
   </section>

   <!-- slide 4 -->
   <section id="experts" class="slide4"  >
      <h2>OUR DEVELOPMENT EXPERTS</h2>
      <div class="gridContainer" >
         <a class="overallContainer" *ngFor="let users of expertDetails" [href]="users.linkedInUrl" target="_blank" >
            <div class="photoContainer" >
               <img class="photoStyle" [src]="users.imageUrl"  alt="ImageNotFound" />
               <div class="nameBox" >
                  <h2 class="name" >{{users.name}}</h2>
               </div>
            </div>
            <p class="role" >
               <div class="footer-col">
                  <div *ngFor="let social of socialLinks" class="social-links">           
                      <a [href]="social.link" target="_blank"  ><i  [ngClass]="social.icon"></i></a>
                  </div>
              </div>
            <!-- {{socialLinks.title}} -->
<!-- </p> -->
            <span class="shortMessage" >View LinkedIn Page</span>
         </a>
      </div>
   </section>
</div>