<!-- <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-info indigo" mdbStickyHeader>
      <mdb-navbar-brand>
      <div class="container" >
         <a class="oneList" [routerLink]="['']">Zaga</a>
         <a class="listStyle" *ngFor="let list of menuList" [routerLink]="[list.link]">{{list.name}}</a>
      </div>
      </mdb-navbar-brand>
</mdb-navbar> -->

<!-- style="width: 100%; background-color: grey;" [ngClass]="navClass" -->

<header class="header py-2 bg-white" >
<!-- <nav class ="navbar navbar-expand-lg  navbar-light navbar fixed-top"> -->

       <div class="container">
        <a class="oneList" href="/">
         <img src="../../assets/zagalogouncropped.png" alt="noImageFound" class="logoStyle" >
        </a>
        </div>
        <!-- </nav> -->
      <!-- </header>  -->
      
<!-- <header > -->
      <nav class="navbar navbar-expand-sm sticky-top navbar-dark bg-white">
         <div
         mdbCollapse
         class="collapse navbar-collapse">
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myList"
                aria-controls="myList" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
      <a class="listStyle" *ngFor="let list of menuList1" [routerLink]="[list.link]">{{list.name}}</a>
    </div>
   </nav>
 </header>
