.container-fluid{
   display: flex;
   flex-direction: row;
   position: sticky;
   justify-content: center;
   height: 140px;
  //  text-align: left;
 }

 .containermenu {
  display: contents;
  position: sticky;
  //text-indent: -1em;
  //flex-direction: row;
  // justify-content:flex-end;
  padding-bottom: 1px;
  height: 60px;
}

.oneList {
  margin: 0 100px 0 20px;
  text-decoration-line: none;
 //  font-size: 1.2rem;
 //  color: #C40233;
 // // color: #fff;
 //  font-weight: 600;
}

.logoStyle {
   // width: 300px;
   // height: 60px;
   width: 900px;
   height: 400px;
   object-fit: contain;
   text-align: center;
}

//  .oneList:hover {
//    color: red;
//   // color: #C40233;
//    border-bottom: 2px solid #ffc107;
//    cursor: pointer;
//    content: "";
//  }

.listStyle {
  margin: 10px 5px 20px 150px;
  text-decoration-line: none;
  font-size: 1.2rem;
  color: #f8f2f3;
 // color: #fff; 
}

.listStyle:hover {
  color: rgb(13, 4, 4);
 // color: #C40233;
  border-bottom: 2px solid #121211;
  cursor: pointer;
  content: "";
}