<!-- <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-info indigo" mdbStickyHeader>
      <mdb-navbar-brand>
      <div class="container" >
         <a class="oneList" [routerLink]="['']">Zaga</a>
         <a class="listStyle" *ngFor="let list of menuList" [routerLink]="[list.link]">{{list.name}}</a>
      </div>
      </mdb-navbar-brand>
</mdb-navbar> -->

<!-- style="width: 100%; background-color: grey;" [ngClass]="navClass" -->


      
      


   <!-- <nav class="navbar navbar-expand-sm sticky-top navbar-dark" style="background-color: #101010d9;">
      <div class="containermenu">
          
          <a class="listStyle" *ngFor="let list of menuList1" [routerLink]="[list.link]">{{list.name}}</a>
         
      </div>
  </nav> -->
      <!-- <div class="topnav" id="menuTopNav">
        <nav class="navbar navbar-expand-sm sticky-top navbar-dark" style="background-color: #101010d9;">
            <div class="containermenu">
                
                <a class="listStyle" *ngFor="let list of menuList1" [routerLink]="[list.link]">{{list.name}}</a>
               
            </div>
        </nav>
      </div> -->

        <div class="container-fluid">
            <img src="../../assets/zagalogouncropped.png" alt="noImageFound" class="logoStyle" >
            <a  class="icon" (click)="onHandleService()">
               <i class="fa fa-bars"></i>
             </a>
        </div>
        <nav class="navbar navbar-expand-sm fixed-top navbar-dark"  [ngClass]="navClass1" style="background-color: #101010d9;">
                <div class="containermenu" *ngFor="let list of menuList1" >
                    <a class="listStyle" *ngIf="!list.subListEnabled" [routerLink]="[list.link]" (click)="onHandleService()">{{list.name}}</a>
                        <a class="listStyle" style="color: white;" *ngIf="list.subListEnabled" [matMenuTriggerFor]="menu" >{{list.name}}
                            <mat-menu #menu="matMenu"  >
                                <div *ngFor="let node of list.subList; let i = index" >
                                <ng-container  >
                                  <a mat-menu-item [routerLink]="[node.link]" (click)="onHandleService()" >
                                    {{node.name}}
                                  </a>
                                </ng-container>
                            </div>
                            </mat-menu>
                        </a>
                    </div>
                </nav>

        
<!-- src/app/menu/menu.component.html -->

<!-- <button mat-button *ngIf="list.subListEnabled" ? [matMenuTriggerFor]="menu" : none>
  Profile
</button>
<div *ngIf="list.subListEnabled" >
    <mat-menu #menu="matMenu">
        <ng-container *ngFor="let node of menuSubList; let i = index">
          <button mat-menu-item>
            {{node}}
          </button>
        </ng-container>
      </mat-menu>
</div> -->

  <!-- Replace this with your own logo -->
          <!-- Toggler/collapsibe Button for small screens -->
          <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myList"
              aria-controls="myList" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button> -->

          <!-- List of links -->