// .menuList {
//    display: flex;
//    flex: 1;
//    flex-direction: column;
//    width: 100%;
//    height: 100%;
//    padding: 0;
//    margin: 0;
//    list-style: none;
//    border: none;
//    border-radius: 0;
//    background-color: transparent;
//    box-shadow: none;
//    overflow: hidden;
//    z-index: 1;
//    position: relative;
//    top: 0;
//    left: 0;
//    bottom: 0;
//    right: 0;
//    &:focus {
//       outline: none;
//    }
//    &:hover {
//       cursor: pointer;
//    }
// }

.container {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   height: 75px;
 }
 
 .oneList {
   margin: 20px 130px 20px 20px;
   text-decoration-line: none;
   font-size: 1.2rem;
   color: #C40233;
   font-weight: 600;
 }
 
 .oneList:hover {
   color: #12d640;
   border-bottom: 2px solid #ffc107;
   cursor: pointer;
   content: "";
 }
 
 .listStyle {
   margin: 20px 20px 20px 20px;
   text-decoration-line: none;
   font-size: 1.2rem;
   // font-weight: 600;
   color: #C40233;
 }
 
 .listStyle:hover {
   color: #12d640;
   border-bottom: 2px solid #ffc107;
   cursor: pointer;
   content: "";
   /* height: 2px; */
 }

 .fixed {
   position: stick;
   background-color: orange;
  //  width: 100%;
   transition: 0.2s linear;
   top: 0px;
 }

 .noFixed {
   position: static;
   transition: 0.2s linear;
   top: -50px;
 }
 