.container {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   height: 60px;
 }

 
 
 .oneList {
   margin: 0 100px 0 20px;
   text-decoration-line: none;
  //  font-size: 1.2rem;
  //  color: #C40233;
  // // color: #fff;
  //  font-weight: 600;
 }

 .logoStyle {
    // width: 300px;
    // height: 60px;
    width: auto;
    height: auto;
    object-fit: contain;
 }
 
//  .oneList:hover {
//    color: red;
//   // color: #C40233;
//    border-bottom: 2px solid #ffc107;
//    cursor: pointer;
//    content: "";
//  }
 
 .listStyle {
   margin: 15px 20px 20px 20px;
   text-decoration-line: none;
   font-size: 1.2rem;
   color: #C40233;
  // color: #fff;
 }
 
 .listStyle:hover {
   color: red;
  // color: #C40233;
   border-bottom: 2px solid #ffc107;
   cursor: pointer;
   content: "";
 }

