<section  *ngIf="!spinnerStatus" >
  <mdb-carousel  [indicators]="true" [keyboard]="true" [interval]="4000" [pause]="false"  [animation]="'fade'" >
    <mdb-carousel-item *ngFor="let slide of slides" >
      <img src="{{ slide.img }}" class="bg" alt="" width="100%">
      <div class="carousel-caption d-md-block"  >
        <h1 [style]="{color:slide.color}" class="title" >{{slide.title}}</h1>
        <p [style]="{color:slide.color}" class="para" >{{slide.text}}</p>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>

  <div class="partner" >
    <div class="textStyle" >
      <h1>Partners & Certifications</h1>
    </div>
    <img class="imageStyle" src="../../assets/bracket.png" alt="NoImageFound" />
    <div>
      <img class="imageStyle2" [src]="redhatLogo" alt="NoImageFound" />
    </div>
  </div>
</section>
<div class="spinner" *ngIf="spinnerStatus" >
  <mat-spinner></mat-spinner>
</div>
