<section class="portfolioContainer">
   <div class="textContent" >
      <h2>Some of Our Projects<br>We're Very Proud of</h2>
   </div>
   <div class="section1" [style]="color1" >
      <div class="innerBox" >
         <img class="imgStyle1" src="../../../assets/screen_1.png" alt="NoImageFound" />
         <img class="imgStyle2" src="../../../assets/screen_2.png" alt="NoImageFound" />
         <img class="imgStyle3" src="../../../assets/screen_3.png" alt="NoImageFound" />
      </div>
      <div class="innerText" >
         <h1>Zaga Hybrid Market</h1>
         <h6>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error beatae est soluta ex neque fugiat, corporis officia voluptatem consequuntur, laboriosam, blanditiis laudantium culpa saepe tempora doloribus quaerat commodi voluptate corrupti?</h6>
      </div>
   </div>

   <!-- section2 -->
   <div class="section2"  >
      <div class="innerText" style="color: #000;" >
         <h1>HELLO TAG</h1>
         <h6>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error beatae est soluta ex neque fugiat, corporis officia voluptatem consequuntur, laboriosam, blanditiis laudantium culpa saepe tempora doloribus quaerat commodi voluptate corrupti?</h6>
      </div>
      <div class="innerBox"   >
         <!-- <img class="imgStyle1" src="../../../assets/pexels-pixabay-60504.jpg" alt="NoImageFound" />
         <img class="imgStyle2" src="../../../assets/pexels-pixabay-60504.jpg" alt="NoImageFound" />
         <img class="imgStyle3" src="../../../assets/pexels-pixabay-60504.jpg" alt="NoImageFound" /> -->
         <img class="imgStyle4"  src="../../../assets/pexels-fauxels-3182773.jpg" alt="" />
      </div>
   </div>

   <!-- section3 -->
   <div class="section1" [style]="color2" >
      <div class="innerBox" >
         <img class="imgStyle1" src="../../../assets/pexels-pixabay-60504.jpg" alt="NoImageFound" />
         <img class="imgStyle2" src="../../../assets/pexels-pixabay-60504.jpg" alt="NoImageFound" />
         <img class="imgStyle3" src="../../../assets/pexels-pixabay-60504.jpg" alt="NoImageFound" />
      </div>
      <div class="innerText" >
         <h1>HELLO TAG</h1>
         <h6>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error beatae est soluta ex neque fugiat, corporis officia voluptatem consequuntur, laboriosam, blanditiis laudantium culpa saepe tempora doloribus quaerat commodi voluptate corrupti?</h6>
      </div>
   </div>
</section>